* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  background-color: #303030;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 1540px;
  padding: 0 10px;
  margin: 0 auto;
}

.block-head {
  font-family: "PlayfairDisplay", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  color: #b4b4b4;
  text-align: center;
}

header {
  padding: 80px 0 95px;
  height: 100vh;
}

header .header-text-wraper {
  max-width: 415px;
  margin: 0 auto;
}

header .header-text-wraper .header-head {
  font-family: "PlayfairDisplay", sans-serif;
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  color: #b69b67;
  border-top: 2px solid #b69b67;
  position: relative;
}

header .header-text-wraper .header-head:after {
  position: absolute;
  right: -180px;
  bottom: -40px;
  content: "design team";
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: right;
  color: #b4b4b4;
}

header img {
  display: block;
  max-width: 83.33333%;
  margin: 0 auto;
  mix-blend-mode: lighten;
}

header .header-head-gradient {
  font-family: "Ubuntu", sans-serif;
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 150px;
  background: radial-gradient(circle farthest-side at top center, #ceb281 22%, #313131 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .link-scroll-down {
  display: block;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #454545;
  text-align: center;
  -webkit-animation: 0.6s linear 0s infinite alternate up-down;
          animation: 0.6s linear 0s infinite alternate up-down;
}

@-webkit-keyframes up-down {
  0% {
    margin-top: -20px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes up-down {
  0% {
    margin-top: -20px;
  }
  100% {
    margin-top: 0px;
  }
}

.services {
  padding: 96px 0 150px;
}

.services .block-head {
  margin-bottom: 50px;
}

.services .slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .slider-container .slider-sidebar {
  max-width: 490px;
}

.services .slider-container .slider-sidebar li {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 2px solid transparent;
  margin-bottom: 50px;
}

.services .slider-container .slider-sidebar li:hover {
  border-bottom-color: #b4b4b4;
}

.services .slider-container .slider-sidebar li a {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #b4b4b4;
  text-transform: uppercase;
  text-align: left;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.services .slider-container .slider-sidebar li .active {
  -webkit-transform: scale(2);
          transform: scale(2);
  color: #b69b67;
}

.services .slider-container .slider-sidebar li .active:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #b69b67;
}

.services .slider-container .slide-window {
  max-width: 905px;
  height: 550px;
  overflow: hidden;
}

.services .slider-container .slide-window .slide {
  height: inherit;
  width: inherit;
  padding-left: 50px;
}

.services .slider-container .slide-window .slide img {
  mix-blend-mode: lighten;
  height: 70%;
}

.services .slider-container .slide-window .slide .slider-desc {
  font-family: "Miriad Pro", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #b4b4b4;
  max-width: 488px;
  text-align: left;
}

.portfolio {
  padding: 95px 30px;
}

.portfolio .block-head {
  margin-bottom: 45px;
}

.portfolio .drop-down-btn {
  position: relative;
  max-width: 250px;
  margin: 0 auto;
  border: 1px solid #454545;
  padding: 15px;
  text-align: center;
  margin-bottom: 70px;
}

.portfolio .drop-down-btn span {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #b4b4b4;
}

.portfolio .drop-down-btn .drop-down-items-wraper {
  position: absolute;
  left: -1px;
  border-left: 1px solid #454545;
  border-bottom: 1px solid #454545;
  border-right: 1px solid #454545;
  width: 101%;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-color: #b69b67;
  border-bottom: transparent;
}

.portfolio .drop-down-btn .drop-down-items-wraper li {
  padding: 16px 0;
}

.portfolio .drop-down-btn .drop-down-items-wraper li a {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #b4b4b4;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.portfolio .drop-down-btn .drop-down-items-wraper li a:hover {
  color: #b69b67;
}

.portfolio .block-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio .block-wraper .block {
  min-width: 48%;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 30px;
}

.portfolio .block-wraper .block:hover .text-container {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.portfolio .block-wraper .block .text-container {
  height: 100%;
  padding: 25px 0 30px;
  background-color: #b69b67;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.portfolio .block-wraper .block .text-container .portfolio-head {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #303030;
  text-align: left;
  text-transform: uppercase;
  max-width: 260px;
  border-bottom: 1px solid #303030;
  margin-bottom: 70px;
  padding-left: 30px;
}

.portfolio .block-wraper .block .text-container .portfolio-desc {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #303030;
  text-align: left;
  max-width: 270px;
  padding-left: 30px;
  margin-bottom: 30px;
}

.portfolio .block-wraper .block .text-container .block-sign {
  font-family: Uubuntu;
  font-size: 16px;
  color: #303030;
  text-align: right;
  padding-left: 23px;
  max-width: 270px;
}

.portfolio .block-wraper .monochrome {
  background-image: url(../img/item1.jpg);
}

.portfolio .block-wraper .design {
  background-image: url(../img/item3bg-screen.jpg);
}

.portfolio .block-wraper .photoshoot {
  background-image: url(../img/item2bg-screen.jpg);
}

.portfolio .block-wraper .editor {
  background-image: url(../img/item4bg-screen.jpg);
}

.portfolio .nav-container {
  max-width: 200px;
  margin: 20px auto;
}

.portfolio .nav-container span {
  cursor: pointer;
  padding: 0 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #b4b4b4;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.portfolio .nav-container span:hover {
  color: #b69b67;
}

.portfolio .nav-container .current-page {
  color: #b69b67;
}

.contacts {
  padding: 101px 0 30px;
}

.contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts .container .block {
  width: 45%;
}

.contacts .container .block .block-head {
  margin-bottom: 50px;
}

.contacts .container .block .feedback-container {
  position: relative;
  overflow: hidden;
}

.contacts .container .block .feedback-container .feedback-body {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #b69b67;
  margin-bottom: 15px;
}

.contacts .container .block .feedback-container .feedback-body img {
  margin-right: 25px;
}

.contacts .container .block .feedback-container .feedback-body .feedback-desc {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #b4b4b4;
  text-align: left;
}

.contacts .container .block .feedback-container .feedback-author {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #b69b67;
  text-align: right;
  text-transform: capitalize;
  margin-bottom: 90px;
}

.contacts .container .block .feedback-container .more-feedback-link {
  position: absolute;
  left: -50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  text-align: center;
  bottom: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: #b4b4b4;
}

.contacts .container .block .form {
  position: relative;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .container .block .form input,
.contacts .container .block .form textarea {
  display: inline-block;
  width: inherit;
  border: 1px solid #b4b4b4;
  margin-bottom: 25px;
  background: #303030;
  outline: none;
  padding: 25px 25px;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #454545;
}

.contacts .container .block .form input::-webkit-input-placeholder,
.contacts .container .block .form textarea::-webkit-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #454545;
}

.contacts .container .block .form input:-ms-input-placeholder,
.contacts .container .block .form textarea:-ms-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #454545;
}

.contacts .container .block .form input::-ms-input-placeholder,
.contacts .container .block .form textarea::-ms-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #454545;
}

.contacts .container .block .form input::placeholder,
.contacts .container .block .form textarea::placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #454545;
}

.contacts .container .block .form textarea {
  height: 300px;
  resize: none;
}

.contacts .container .block .form input[type="submit"] {
  width: 230px;
  background-color: #b69b67;
  color: #303030;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: none;
  position: relative;
}

.contacts .container .block .form .form-img {
  position: absolute;
  bottom: -170px;
  right: -190px;
  mix-blend-mode: lighten;
}

.contact-data {
  padding-top: 105px;
}

.contact-data .block-head {
  margin-bottom: 90px;
}

.contact-data .gradient-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  background: radial-gradient(circle farthest-side at top center, #f3f3f3 22%, #313131 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 100px;
}

.contact-data .contact-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-data .contact-wraper .contact-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.contact-data .contact-wraper .contact-container .contact-type {
  position: relative;
  margin-bottom: 45px;
  max-width: 120px;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #b69b67;
  text-transform: uppercase;
}

.contact-data .contact-wraper .contact-container .contact-type:before {
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #b69b67;
}

.contact-data .contact-wraper .contact-container .contact-desc {
  font-family: "Miriad Pro", sans-serif;
  font-size: 30px;
  color: #b4b4b4;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}

.contact-data img {
  mix-blend-mode: lighten;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul li a {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: #b4b4b4;
  text-transform: uppercase;
}

footer img {
  mix-blend-mode: lighten;
}
/*# sourceMappingURL=style.css.map */