@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ununtu/Ubuntu-Light.eot");
  src: url("../fonts/Ununtu/Ubuntu-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("..fonts/Ubuntu/Ubuntu-Bold.eot");
  src: url("..fonts/Ubuntu/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("..fonts/Ubuntu/Ubuntu-Bold.woff2") format("woff2"), url("..fonts/Ubuntu/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("..fonts/Ubuntu/Ubuntu-Italic.eot");
  src: url("..fonts/Ubuntu/Ubuntu-Italic.eot?#iefix") format("embedded-opentype"), url("..fonts/Ubuntu/Ubuntu-Italic.woff2") format("woff2"), url("..fonts/Ubuntu/Ubuntu-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("..fonts/Ubuntu/Ubuntu-BoldItalic.eot");
  src: url("..fonts/Ubuntu/Ubuntu-BoldItalic.eot?#iefix") format("embedded-opentype"), url("..fonts/Ubuntu/Ubuntu-BoldItalic.woff2") format("woff2"), url("..fonts/Ubuntu/Ubuntu-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-MediumItalic.eot");
  src: url("../fonts/Ubuntu/Ubuntu-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu-MediumItalic.woff2") format("woff2"), url("../fonts/Ubuntu/Ubuntu-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Regular.eot");
  src: url("../fonts/Ubuntu/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu/Ubuntu-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-LightItalic.eot");
  src: url("../fonts/Ubuntu/Ubuntu-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu-LightItalic.woff2") format("woff2"), url("../fonts/Ubuntu/Ubuntu-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Medium.eot");
  src: url("../fonts/Ubuntu/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-ExtraBold.woff2") format("woff2"), url("../fonts/Playfair_Display/PlayfairDisplay-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Black.woff2") format("woff2"), url("../fonts/Playfair_Display/PlayfairDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic.woff2") format("woff2"), url("../fonts/Playfair_Display/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/Playfair_Display/PlayfairDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Playfair_Display/PlayfairDisplay-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_display/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/Playfair_display/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/Playfair_Display/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-SemiBold.woff2") format("woff2"), url("../fonts/Playfair_Display/PlayfairDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-MediumItalic.woff2") format("woff2"), url("../fonts/Playfair_Display/PlayfairDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Playfair_Display/PlayfairDisplay-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Medium.woff2") format("woff2"), url("../fonts/Playfair_Display/PlayfairDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  background-color: #303030;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 1540px;
  padding: 0 10px;
  margin: 0 auto;
}

.hide {
  -webkit-transform: translateX(-2000%);
          transform: translateX(-2000%);
}

.block-head {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  text-transform: uppercase;
  color: #b4b4b4;
  text-align: center;
}

.snd-inp {
  display: inline-block;
  width: 100%;
  border: 1px solid #b4b4b4;
  margin-bottom: 25px;
  background: #303030;
  outline: none;
  padding: 25px 25px;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #454545;
}

.snd-inp::-webkit-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #454545;
}

.snd-inp:-ms-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #454545;
}

.snd-inp::-ms-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #454545;
}

.snd-inp::placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #454545;
}

.snd-btn {
  display: block;
  width: 230px;
  margin: 0 auto;
  padding: 25px 10px;
  background-color: #b69b67;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #454545;
}

header {
  position: relative;
  padding: 80px 0 95px;
}

header .responsive-btn {
  position: absolute;
  right: 10%;
  top: 20%;
  height: 80px;
  width: 80px;
  border: 1px solid #454545;
  padding: 14px;
  cursor: pointer;
  z-index: 9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .responsive-btn:hover {
  border-color: #b69b67;
}

header .responsive-btn:hover .row {
  background-color: #b69b67;
}

header .responsive-btn .row {
  height: 2px;
  background-color: #b4b4b4;
  width: 100%;
  margin: 12px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .clicked .row {
  position: absolute;
}

header .clicked .row:nth-child(1) {
  top: 25px;
  left: 0px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

header .clicked .row:nth-child(2) {
  display: none;
}

header .clicked .row:nth-child(3) {
  top: 25px;
  left: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

header .menu-bg {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100vw;
  border-top: 1px solid #454545;
  border-bottom: 1px solid #454545;
  padding: 50px 10px 90px;
  background-color: #303030;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 2;
}

header .menu-container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .menu-container .container li {
  padding: 25px 10px;
}

header .menu-container .container li a {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #b4b4b4;
  text-transform: uppercase;
  text-align: left;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .menu-container .container li a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 2px;
  width: 0%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .menu-container .container li a:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  color: #b69b67;
}

header .menu-container .container li a:hover:after {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #b69b67;
}

header .menu-container .container li .active {
  -webkit-transform: scale(2);
          transform: scale(2);
  color: #b69b67;
}

header .menu-container .container .content-container {
  width: 33.33%;
  background-color: #303030;
  background-image: url(../img/menu-bg.jpg);
  background-position: top right;
  background-size: cover;
  background-blend-mode: lighten;
}

header .menu-container .container .account-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .menu-container .container .account-action .action-list {
  max-width: 300px;
  margin-right: 40px;
}

header .menu-container .container .account-action .search-form {
  position: relative;
}

header .menu-container .container .account-action .search-form .srch-inp {
  background: transparent;
  border: none;
  height: 40px;
  border-bottom: 1px solid #454545;
  width: 100%;
  outline: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #454545;
}

header .menu-container .container .account-action .search-form .srch-inp::-webkit-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #454545;
  text-transform: uppercase;
}

header .menu-container .container .account-action .search-form .srch-inp:-ms-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #454545;
  text-transform: uppercase;
}

header .menu-container .container .account-action .search-form .srch-inp::-ms-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #454545;
  text-transform: uppercase;
}

header .menu-container .container .account-action .search-form .srch-inp::placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #454545;
  text-transform: uppercase;
}

header .menu-container .container .account-action .search-form #srch-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-image: url(../img/search-ico.png);
  background-size: cover;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .menu-container .container .account-action .search-form #srch-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

header .menu-container .container .singin-container {
  border: 1px solid #b4b4b4;
  padding: 50px 15px;
  background-color: #303030;
}

header .menu-container .container .singin-container .block-head {
  margin-bottom: 45px;
}

header .menu-container .container .singin-container .singin-desc {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: right;
  color: #b4b4b4;
  margin-bottom: 20px;
  text-align: center;
}

header .menu-container .container .singin-container .btn-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

header .menu-container .container .singin-container .btn-wraper .btn {
  width: 230px;
  padding: 20px 10px;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  margin: 0 15px;
  background: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  font-weight: 200;
  border-width: 1px;
}

header .menu-container .container .singin-container .btn-wraper .fb {
  color: #3b5998;
  border-color: #3b5998;
}

header .menu-container .container .singin-container .btn-wraper .google {
  color: #dd4b39;
  border-color: #dd4b39;
}

header .menu-container .container .singin-container .btn-wraper .tw {
  color: #1da1f2;
  border-color: #1da1f2;
}

header .menu-container .container .singin-container .auth-form {
  max-width: 745px;
  margin: 0 auto;
}

header .menu-container .container .singin-container .auth-form .inp {
  width: 100%;
  border: 1px solid #b4b4b4;
  background: none;
  margin-bottom: 25px;
  padding: 20px 25px;
  outline: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #454545;
}

header .header-text-wraper {
  max-width: 415px;
  margin: 0 auto;
}

header .header-text-wraper .header-head {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  color: #b69b67;
  border-top: 2px solid #b69b67;
  position: relative;
}

header .header-text-wraper .header-head:after {
  position: absolute;
  right: -180px;
  bottom: -40px;
  content: "design team";
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: right;
  color: #b4b4b4;
}

header img {
  display: block;
  max-width: 83.33333%;
  margin: 0 auto;
  mix-blend-mode: lighten;
}

header .header-head-gradient {
  font-family: "Ubuntu", sans-serif;
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 150px;
  background: radial-gradient(circle farthest-side at top center, #ceb281 22%, #313131 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .link-scroll-down {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #454545;
  text-align: center;
  -webkit-animation: 0.6s linear 0s infinite alternate up-down;
          animation: 0.6s linear 0s infinite alternate up-down;
}

header .link-scroll-down svg {
  position: absolute;
  right: 50%;
  bottom: -100%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

@-webkit-keyframes up-down {
  0% {
    bottom: -20px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes up-down {
  0% {
    bottom: -20px;
  }
  100% {
    bottom: 0px;
  }
}

.services {
  padding: 96px 0 150px;
}

.services .block-head {
  margin-bottom: 50px;
}

.services .slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .slider-container .slider-sidebar {
  max-width: 490px;
}

.services .slider-container .slider-sidebar li {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 2px solid transparent;
  margin-bottom: 50px;
}

.services .slider-container .slider-sidebar li:hover {
  border-bottom-color: #b4b4b4;
}

.services .slider-container .slider-sidebar li a {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #b4b4b4;
  text-transform: uppercase;
  text-align: left;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.services .slider-container .slider-sidebar li .active {
  -webkit-transform: scale(2);
          transform: scale(2);
  color: #b69b67;
}

.services .slider-container .slider-sidebar li .active:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #b69b67;
}

.services .slider-container .slide-window {
  max-width: 905px;
  height: 550px;
  overflow: hidden;
}

.services .slider-container .slide-window .slide {
  height: inherit;
  width: inherit;
  padding-left: 50px;
}

.services .slider-container .slide-window .slide img {
  mix-blend-mode: lighten;
  height: 70%;
}

.services .slider-container .slide-window .slide .slider-desc {
  font-family: "Miriad Pro", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #b4b4b4;
  max-width: 488px;
  text-align: left;
}

.portfolio {
  padding: 95px 30px;
}

.portfolio .block-head {
  margin-bottom: 45px;
}

.portfolio .drop-down-btn {
  position: relative;
  max-width: 250px;
  margin: 0 auto;
  border: 1px solid #454545;
  padding: 15px;
  text-align: center;
  margin-bottom: 70px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.portfolio .drop-down-btn:hover {
  border-color: #b69b67;
}

.portfolio .drop-down-btn:hover .drop-down-items-wraper {
  opacity: 1;
  visibility: visible;
}

.portfolio .drop-down-btn span {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #b4b4b4;
}

.portfolio .drop-down-btn .drop-down-items-wraper {
  position: absolute;
  left: -1px;
  border-left: 1px solid #b69b67;
  border-bottom: 1px solid #b69b67;
  border-right: 1px solid #b69b67;
  width: 101%;
  z-index: 1;
  background-color: #303030;
  opacity: 0;
  visibility: hidden;
}

.portfolio .drop-down-btn .drop-down-items-wraper li {
  padding: 16px 0;
}

.portfolio .drop-down-btn .drop-down-items-wraper li a {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #b4b4b4;
  text-align: center;
  text-transform: capitalize;
}

.portfolio .drop-down-btn .drop-down-items-wraper li a:hover {
  color: #b69b67;
}

.portfolio .block-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio .block-wraper .block {
  position: relative;
  min-width: 48%;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 30px;
}

.portfolio .block-wraper .block .btn-more {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  max-width: 315px;
  padding: 25px 10px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #b69b67;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  color: #303030;
}

.portfolio .block-wraper .block .btn-more:hover {
  -webkit-transform: scale(1.01) translate(-50%);
          transform: scale(1.01) translate(-50%);
}

.portfolio .block-wraper .block:hover .btn-more {
  opacity: 1;
}

.portfolio .block-wraper .block:hover .text-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.portfolio .block-wraper .block .text-container {
  height: 100%;
  padding: 25px 0 30px;
  background-color: #b69b67;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.portfolio .block-wraper .block .text-container .portfolio-head {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #303030;
  text-align: left;
  text-transform: uppercase;
  max-width: 260px;
  border-bottom: 1px solid #303030;
  margin-bottom: 70px;
  padding-left: 30px;
}

.portfolio .block-wraper .block .text-container .portfolio-desc {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #303030;
  text-align: left;
  max-width: 270px;
  padding-left: 30px;
  margin-bottom: 30px;
}

.portfolio .block-wraper .block .text-container .block-sign {
  font-family: Uubuntu;
  font-size: 16px;
  color: #303030;
  font-style: italic;
  text-align: right;
  padding-left: 23px;
  max-width: 270px;
}

.portfolio .block-wraper .monochrome {
  background-image: url(../img/item1.jpg);
}

.portfolio .block-wraper .design {
  background-image: url(../img/item3bg-screen.jpg);
}

.portfolio .block-wraper .photoshoot {
  background-image: url(../img/item2bg-screen.jpg);
}

.portfolio .block-wraper .editor {
  background-image: url(../img/item4bg-screen.jpg);
}

.portfolio .nav-container {
  max-width: 200px;
  margin: 20px auto;
}

.portfolio .nav-container span {
  cursor: pointer;
  padding: 0 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #b4b4b4;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.portfolio .nav-container span:hover {
  color: #b69b67;
}

.portfolio .nav-container .current-page {
  color: #b69b67;
}

.contacts {
  padding: 101px 0 30px;
}

.contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts .container .block {
  width: 45%;
}

.contacts .container .block .block-head {
  margin-bottom: 50px;
}

.contacts .container .block .feedback-container {
  position: relative;
  overflow: hidden;
}

.contacts .container .block .feedback-container .feedback-body {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #b69b67;
  margin-bottom: 15px;
}

.contacts .container .block .feedback-container .feedback-body img {
  margin-right: 25px;
}

.contacts .container .block .feedback-container .feedback-body .feedback-desc {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #b4b4b4;
  text-align: left;
}

.contacts .container .block .feedback-container .feedback-author {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #b69b67;
  text-align: right;
  text-transform: capitalize;
  margin-bottom: 90px;
}

.contacts .container .block .feedback-container .more-feedback-link {
  position: absolute;
  left: -50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  text-align: center;
  bottom: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: #b4b4b4;
}

.contacts .container .block .form {
  position: relative;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .container .block .form textarea {
  height: 300px;
  resize: none;
}

.contacts .container .block .form .snd-btn {
  position: relative;
}

.contacts .container .block .form .form-img {
  position: absolute;
  bottom: -170px;
  right: -190px;
  mix-blend-mode: lighten;
}

.contact-data {
  padding-top: 105px;
}

.contact-data .block-head {
  margin-bottom: 90px;
}

.contact-data .gradient-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  background: radial-gradient(circle farthest-side at top center, #f3f3f3 22%, #313131 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 100px;
}

.contact-data .contact-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-data .contact-wraper .contact-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.contact-data .contact-wraper .contact-container .contact-type {
  position: relative;
  margin-bottom: 45px;
  max-width: 120px;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #b69b67;
  text-transform: uppercase;
}

.contact-data .contact-wraper .contact-container .contact-type:before {
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #b69b67;
}

.contact-data .contact-wraper .contact-container .contact-desc {
  font-family: "Miriad Pro", sans-serif;
  font-size: 30px;
  color: #b4b4b4;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}

.contact-data img {
  mix-blend-mode: lighten;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul li a {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: #b4b4b4;
  text-transform: uppercase;
}

footer img {
  mix-blend-mode: lighten;
}
/*# sourceMappingURL=style.css.map */