$mainbg: #303030;
$gold: #b69b67;
$gray: #b4b4b4;
$linkColor: #454545;
$blue: #3b5998;
$red: #dd4b39;
$sky: #1da1f2;
// fonts
$playfairDisplay: "Playfair Display", serif;
$Ubuntu: "Ubuntu", sans-serif;
$miriadPro: "Miriad Pro", sans-serif;
