//colors 
$black: #000;
$textColor: #18191F;
$white: #fff;
$getBtnBg: #8C30F5;
$getBtnHov: #782ad1;
$footerText:#D9DBE1;
// background colors
$storiesBg: #D5FAFC;
$manageBg:#2EC5CE;
$footerBg: #0B0D17;
// fonts
$inter: "Inter",sans-serif;