// fonts
$openSans: "Open Sans", sans-serif;
$montserrat: "Montserrat", sans-serif;
$rubik: "Rubik", sans-serif;
$gilroy: "Gilroy", sans-serif;
$inter: "Inter", sans-serif;
// colors
$white: #fff;
$porple50: #b5b5b5;
$poprle100: #98a4af;
$porple150: #d6dbdf;
$porple200: #8d8d8d;
$poprle250: #f6f6f6;
$porpleOp: #f6f6f627;
$porpleOpHov: #f6f6f685;
$porple500: #637381;
$porple550: #6d6d78;

$green50: #99efd0;
$green100: #13c296;

$orange50: #f2994a;
$blue100: #8476aa;
$blue150: #95a1bb;
$blue200: #516ea9;
$blue250: #3c3e7d30;
$blue550: #361c5d;
$modalBg: #361c5da2;
$black600: #212b36;
// shadows

// gradients
$mainGradient: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
