@import "varibles.scss";
@mixin container {
  max-width: $container-max-width;
  margin: 0 auto;
}
@mixin contact-text {
  font-family: $open-sans;
  font-size: 12px;
  color: $green;
}
@mixin contact-data-text {
  font-family: $open-sans;
  font-size: 12px;
  color: $black;
}
@mixin contacts-item {
  font-family: $open-sans;
  font-size: 12px;
  color: $green;
}
@mixin category-text {
  font-family: $popins;
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
  color: $black;
}
@mixin search-text {
  font-family: $open-sans;
  font-size: 14px;
  line-height: 19px;
  color: $search;
}
@mixin dropdown-text {
  font-family: $popins;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: $black;
}
// sidabar
@mixin sidebar-head {
  font-family: $popins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: $black;
}
@mixin sidebar-item {
  font-family: $open-sans;
  font-size: 14px;
  line-height: 20px;
  color: $green;
}
@mixin btn-text {
  font-family: $popins;
  font-size: 15px;
  font-weight: 700;
  line-height: 32px;
  color: $black;
}
@mixin baner-head {
  font-family: $popins;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  color: $black;
}
@mixin button-text {
  font-family: $popins;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  color: $black;
}
@mixin product-title {
  font-family: $popins;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: $black;
}
@mixin product-desc {
  font-family: $open-sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}
@mixin price {
  font-family: $popins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: $black;
}
@mixin product-btn-text {
  font-family: $popins;
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  color: $content-bg;
}
@mixin slider-author {
  font-family: $popins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: $search;
}
@mixin green-btn {
  border: 2px solid $product-border-color;
  background-color: $green;
  border-radius: 12px;
  @include product-btn-text;
}
@mixin tips-text {
  font-family: $popins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: $green;
}
@mixin blog-head {
  font-family: $popins;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  color: $content-bg;
}

@mixin tag-item {
  font-family: $popins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: $black;
}
@mixin copyr {
  font-family: $open-sans;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: $black;
}
