img {
  max-width: 100%;
  height: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.main {
  background-color: #e5e5e5;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

header .container {
  background-color: #fff;
}

header .container .contacts {
  padding: 15px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f9f9f9;
}

header .container .contacts .contacts__text__wraper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .contacts .contacts__text__wraper .contacts__text {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #6a983c;
}

header .container .contacts .contacts__text__wraper .contacts__data {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #151515;
  padding: 0 17px;
}

header .container .contacts .contacts__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .contacts .contacts__menu .contacts__item {
  padding: 0px 18px;
}

header .container .contacts .contacts__menu .contacts__item a {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #6a983c;
  text-transform: capitalize;
}

header .logo {
  padding: 40px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo .logo__search {
  position: relative;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  padding: 10px 15px;
  background-color: #f9f9f9;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}

header .logo .logo__search .logo__search__list {
  font-family: "popins", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
  color: #151515;
  outline: none;
  max-width: 120px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: #f9f9f9;
}

header .logo .logo__search .logo__search__list .logo__search__item {
  font-family: "popins", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
  color: #151515;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 10px 15px;
  width: 100%;
}

header .logo .logo__search .logo__search__list .logo__search__item:first-child {
  display: none;
}

header .logo .logo__search .logo__search__input {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
  padding: 5px 10px;
  width: 75%;
  border: none;
  background: transparent;
  outline: none;
  border-left: 2px solid #d1d1d1;
}

header .logo .logo__search .logo__search__btn {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 30px;
  width: 30px;
  background-color: transparent;
  background-image: url(../img/svg/search-icon.svg);
  background-size: cover;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .logo .logo__search .logo__search__btn:active {
  -webkit-transform: scale(0.9) translateY(-50%);
          transform: scale(0.9) translateY(-50%);
}

header .logo .logo__account {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo .logo__account .logo__account__icon {
  padding: 0 17px;
}

header .head__menu {
  padding: 16px 5px;
  position: relative;
  background-color: #f9f9f9;
}

header .head__menu .menu__button__dropdown {
  position: relative;
  padding: 0 26px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "popins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: #151515;
}

header .head__menu .menu__button__dropdown:after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  height: 2px;
  width: 10px;
  background-color: #6a983c;
}

header .head__menu .menu__button__dropdown:before {
  position: absolute;
  content: "";
  top: 50%;
  right: -3px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  height: 2px;
  width: 10px;
  background-color: #6a983c;
}

header .head__menu .menu__button__dropdown .menu__dropdown__list {
  position: absolute;
  width: 100%;
  height: 0;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  opacity: 0;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  background-color: #e5e5e5;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .head__menu .menu__button__dropdown .menu__dropdown__list .menu__dropdown__item {
  padding: 10px 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .head__menu .menu__button__dropdown .menu__dropdown__list .menu__dropdown__item:hover {
  background-color: #d1d1d1;
}

header .head__menu .menu__button__dropdown .menu__dropdown__list .menu__dropdown__item a {
  font-family: "popins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: #151515;
}

header .head__menu .menu__button__dropdown:hover .menu__dropdown__list {
  height: auto;
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.content__container .container {
  background-color: #fff;
  padding: 65px 45px;
}

.content__container .container .sidebar {
  max-width: 270px;
}

.content__container .container .sidebar .sidebar__head {
  font-family: "popins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #151515;
  margin-bottom: 16px;
}

.content__container .container .sidebar .sidebar__list {
  margin-bottom: 50px;
}

.content__container .container .sidebar .sidebar__list .sidebar__list__item {
  padding: 6px 0;
}

.content__container .container .sidebar .sidebar__list .sidebar__list__item a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #6a983c;
  text-decoration: underline;
}

.content__container .container .sidebar .sidebar__button {
  position: relative;
  max-width: 167px;
  margin-bottom: 190px;
  padding: 12.5px 16px;
  background-color: #f5f5f5;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: "popins", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 32px;
  color: #151515;
}

.content__container .container .sidebar .sidebar__button:after {
  position: absolute;
  content: "";
  top: 57%;
  right: 10px;
  height: 10px;
  width: 2px;
  background-color: #151515;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.content__container .container .sidebar .sidebar__button:before {
  position: absolute;
  content: "";
  top: 48%;
  right: 10px;
  height: 10px;
  width: 2px;
  background-color: #151515;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.content__container .container .sidebar .sidebar__button:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
/*# sourceMappingURL=style.css.map */