html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
img {
  height: auto;
  max-width: 100%;
}
.call-btn {
  position: fixed;
  right: 10%;
  bottom: 30%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #1dacd8;
  background-image: url(../img/phone.svg);
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 0;
  cursor: pointer;
  transition: 0.4s;
}
.call-btn .call-btn-form {
  position: absolute;
  bottom: -75%;
  left: -500%;
  max-width: 600px;
  padding: 20px 20px;
  border-radius: 5px;
  background-color: #fff;
  transform-origin: left bottom;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.4s, opacity 0.2s;
}
.call-btn .call-btn-form .close-form-btn {
  position: absolute;
  padding: 0px;
  top: 5px;
  right: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(237, 57, 57, 0.844);
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
}
.call-btn .call-btn-form .close-form-btn:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 15px;
  width: 3px;
  background-color: #fff;
  transform-origin: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.call-btn .call-btn-form .close-form-btn::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 15px;
  width: 3px;
  background-color: #fff;
  transform-origin: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.call-btn .call-btn-form .btn-desc {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}
.call-btn .call-btn-form input[type="text"] {
  width: 100%;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  border: 1px solid #1dacd8;
  border-radius: 4px;
  color: rgba(60, 60, 60, 0.974);
  margin-bottom: 20px;
  outline: none;
}
.call-btn .call-btn-form input[type="submit"] {
  font-family: "popins", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  max-width: 150px;
  padding: 15px 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #1dacd8;
  transition: 0.4s;
  margin: 0 auto;
}
.call-btn:hover {
  transform: scale(1.1);
}
.call-btn::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #1dacd8;
  -webkit-animation: callBtn 1s infinite;
  animation: callBtn 1s infinite;
  z-index: -1;
}
.call-btn .hide-form {
  opacity: 0;
  transform: scale(0);
}
.hide-btn {
  bottom: -200%;
}
@-webkit-keyframes callBtn {
  0% {
    height: 0;
    width: 0;
    background-color: #167b99;
  }
  100% {
    height: 100px;
    width: 100px;
    background-color: transparent;
  }
}
@keyframes callBtn {
  0% {
    height: 0;
    width: 0;
    background-color: #167b99;
  }
  100% {
    height: 100px;
    width: 100px;
    background-color: transparent;
  }
}
.promo {
  position: fixed;
  left: 0;
  bottom: -100%;
  padding: 15px 20px;
  width: 100%;
  background-color: rgba(243, 122, 122, 0.844);
  transition: 0.4s;
}
.promo .promo-title {
  font-family: "roboto", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
}
.promo .promo-desc {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  color: #fff;
}
.promo .close-btn {
  position: absolute;
  padding: 10px;
  top: -20px;
  left: 10%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgba(237, 57, 57, 0.844);
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
}
.promo .close-btn:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 15px;
  width: 3px;
  background-color: #fff;
  transform-origin: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.promo .close-btn::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 15px;
  width: 3px;
  background-color: #fff;
  transform-origin: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.active {
  bottom: 0%;
}
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.604);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 999;
  opacity: 1;
  overflow-y: scroll;
  transition-delay: background 0.2s;
  transition: height 0s, width 0s, background 0.2s;
}
.modal-bg .modal-content-wraper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px 30px;
  background-color: #fff;
  max-width: 960px;
}
.modal-bg .modal-content-wraper .close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.modal-bg .modal-content-wraper .close-modal:after {
  position: absolute;
  left: -50%;
  top: -50%;
  content: "";
  height: 15px;
  width: 3px;
  background-color: #d12d2d;
  transform-origin: center center;
  transform: translate(50%, 50%) rotate(45deg);
}
.modal-bg .modal-content-wraper .close-modal:before {
  position: absolute;
  left: -50%;
  top: -50%;
  content: "";
  height: 15px;
  width: 3px;
  background-color: #d12d2d;
  transform-origin: center center;
  transform: translate(50%, 50%) rotate(-45deg);
}
.modal-bg .modal-content-wraper .questionnaire-title {
  font-family: "roboto", sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #2b2b2b;
}
.modal-bg .modal-content-wraper .questionnari-desc {
  font-family: "popins", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #2b2b2b;
  text-align: center;
  margin-bottom: 30px;
}
.modal-bg .modal-content-wraper .input-wraper {
  padding: 15px 0;
}
.modal-bg .modal-content-wraper .input-wraper .inp-wraper {
  position: relative;
}
.modal-bg .modal-content-wraper .input-wraper .inp-wraper input[type="text"] {
  padding: 10px 15px;
  border: 1px solid #b7adf5;
  border-radius: 5px;
  width: 100%;
  outline: none;
  transition: 0.4s;
  margin-bottom: 30px;
}
.modal-bg .modal-content-wraper .input-wraper .inp-wraper input[type="text"]:focus {
  border: 1px solid #2f74db;
  background-color: #e4e8ff;
}
.modal-bg .modal-content-wraper .input-wraper input[type="radio"] {
  margin: 0 20px;
}
.modal-bg .modal-content-wraper .input-wraper .form-desc,
.modal-bg .modal-content-wraper .input-wraper label {
  font-family: "roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #413e3e;
}
.modal-bg .modal-content-wraper .input-wraper .select,
.modal-bg .modal-content-wraper .input-wraper .dependence {
  display: block;
  padding: 10px 15px;
  width: 100%;
  border: 1px solid #36aeae;
  border-radius: 3px;
  margin-bottom: 40px;
}
.modal-bg .checked {
  border: 1px solid #00aa4a;
  background-color: #e4ffec;
}
.modal-bg .order-btn {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  width: 150px;
  padding: 20px 10px;
  text-align: center;
  border: none;
  border-radius: 3px;
  margin: 0 15px;
  transition: 0.4s;
  background: #00aa4a;
  display: block;
  margin: 0 auto;
}
.modal-bg .order-btn:active {
  transform: scale(0.9);
}
.modal-bg .selected-label {
  position: absolute;
  bottom: -54px;
  right: 0;
  max-width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #c6ffc8;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  box-shadow: 4px 6px 8px -5px rgba(34, 60, 80, 0.2);
  transition: 0.4s;
}
.modal-bg .selected-label:after {
  position: absolute;
  top: -10px;
  left: 10px;
  content: "";
  width: 0;
  height: 0;
  border-width: 0 6.5px 11px 6.5px;
  border-color: transparent transparent #c6ffc8 transparent;
  border-style: solid;
}
.hide {
  height: 0;
  width: 0;
  background-color: transparent;
  opacity: 0;
}
.main-title {
  font-family: "popins", sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #2b2b2b;
}
.main-desc {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}
.btn-wraper {
  max-width: 320px;
}
.btn-wraper .btn {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  width: 150px;
  padding: 20px 10px;
  text-align: center;
  border: none;
  border-radius: 3px;
  margin: 0 15px;
  transition: 0.4s;
}
.btn-wraper .btn:active {
  transform: scale(0.9);
}
.btn-wraper .order {
  background: #00aa4a;
}
.btn-wraper .order:hover {
  background-color: #077436;
}
.btn-wraper .show {
  background-color: #aa7e04;
}
.btn-wraper .show:hover {
  background-color: #ac8a2d;
}
.head {
  position: relative;
  background-image: url(../img/header-img.jpg);
  background-size: cover;
  background-position: center center;
  padding: 20px 0 120px;
  z-index: 0;
  overflow-x: hidden;
}
.head::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.57);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: -1;
}
.head header {
  width: 100%;
  margin-bottom: 120px;
}
.head header .toggle-btn {
  display: none;
}
.head header .header-menu {
  max-width: 600px;
}
.head header .header-menu .menu-item {
  padding: 20px 10px;
}
.head header .header-menu .menu-item a {
  position: relative;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  transition: 0.4s;
}
.head header .header-menu .menu-item a:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: 0.4s;
}
.head header .header-menu .menu-item a:hover {
  color: #ffbd00;
}
.head header .header-menu .menu-item a:hover:after {
  width: 100%;
  background-color: #ffbd00;
}
.head .head-title {
  font-family: "Roboto", sans-serif;
  font-size: 43px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.head .head-desc {
  font-family: "open-sans", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #fff;
  max-width: 800px;
  margin: 0 auto 40px auto;
}
.program {
  padding: 30px 0 60px;
  background-color: #fff0ee;
}
.program .main-desc {
  margin-bottom: 30px;
}
.program .content-wraper {
  position: relative;
  padding: 120px 15px 30px;
  border-radius: 5px;
  transition: 0.4s;
  margin-bottom: 40px;
  background-size: 100% 100%;
  background-position: center;
  overflow: hidden;
  z-index: 0;
  height: 90%;
}
.program .content-wraper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.474);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: -1;
}
.program .content-wraper:hover {
  transform: scale(1.01);
  background-size: 110% 110%;
}
.program .content-wraper .content-title {
  font-family: "roboto", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
.program .content-wraper .content-desc {
  font-family: "popins", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: aliceblue;
}
.program .campaign {
  background-image: url(../img/pohid.jpg);
}
.program .teambuilding {
  background-image: url(../img/team.jpg);
}
.program .holly-party {
  background-image: url(../img/party.jpg);
}
.program .creative {
  background-image: url(../img/think.jpg);
}
.program .partys {
  background-image: url(../img/tematic-party.jpg);
}
.program .bamperball {
  background-image: url(../img/bamperbol.jpg);
}
.program .quest {
  background-image: url(../img/quest.jpg);
}
.program .cinema {
  background-image: url(../img/cinema.jpg);
}
.program .evening {
  background-image: url(../img/fire.jpg);
}
.area {
  padding: 30px 0 80px;
  background-color: #f8fdfa;
}
.area .main-title {
  text-align: left;
}
.area .main-desc {
  text-align: left;
  margin-bottom: 30px;
}
.dishes {
  padding: 30px 0 50px;
  background-color: #fff8e5;
}
.team {
  padding: 30px 0;
  background-color: #faf8fc;
}
.team .main-title {
  text-align: center;
}
.team .main-desc {
  text-align: center;
  max-width: 550px;
  margin-bottom: 30px;
}
.team .owl-theme {
  padding: 20px 0px;
}
.team .owl-theme .item {
  padding: 30px 15px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.624);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.team .owl-theme .item .user-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  margin: 0 auto 30px auto;
}
.team .owl-theme .item .name {
  font-family: "robot", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #242424;
  margin-bottom: 30px;
}
.team .owl-theme .item .age,
.team .owl-theme .item .job {
  font-family: "roboto";
  font-size: 16px;
  font-weight: bold;
  color: #242424;
}
.team .owl-theme .item .age-num,
.team .owl-theme .item .job-desc {
  font-weight: normal;
}
.gallery {
  flex-wrap: wrap;
}
.gallery a {
  display: block;
  width: 25%;
}
.gallery a img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.races {
  padding: 30px 0;
  background-color: #dfecff;
}
.races .races-list {
  flex-wrap: wrap;
}
.races .races-item {
  position: relative;
  border-radius: 5px;
  padding: 20px 15px;
  background-image: url(../img/header-img.jpg);
  background-size: cover;
  cursor: pointer;
  transition: 0.4s;
  margin: 30px 20px;
  z-index: 0;
  overflow: hidden;
}
.races .races-item:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.604);
  -webkit-backdrop-filter: blur(2px);
  -moz-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: -1;
}
.races .races-item:hover {
  transform: scale(1.1);
}
.races .races-title {
  font-family: "roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.races .races-desc {
  font-family: "popins", sans-serif;
  font-size: 18px;
  color: #fff;
  max-width: 400px;
}
.races .races-duration,
.races .races-time-desc {
  font-family: "roboto", sans-serif;
  font-size: 25px;
  color: #fff;
}
.races .races-duration .race-start,
.races .races-time-desc .race-start,
.races .races-duration .races-end,
.races .races-time-desc .races-end {
  font-weight: 900;
}
.contact {
  padding: 30px 0;
  background-color: #f1f4ff;
}
.contact .main-title {
  text-align: left;
}
.contact .main-desc {
  text-align: left;
  max-width: 400px;
  margin: 0 0 40px;
}
.contact .item-wraper {
  margin-bottom: 30px;
}
.contact .item-wraper a {
  font-family: "robot", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #575757;
}
.contact .item-wraper a img {
  height: 25px;
  width: 25px;
  margin: 0 15px;
}
.contact .form-wraper {
  max-width: 350px;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.contact .form-wraper .contact-title {
  font-family: "roboto", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #3f3f3f;
  margin-bottom: 30px;
}
.contact .form-wraper input[type="text"] {
  width: 100%;
  padding: 10px 20px;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  border: 1px solid #1dacd8;
  border-radius: 4px;
  color: rgba(60, 60, 60, 0.974);
  margin-bottom: 20px;
  outline: none;
}
.contact .form-wraper input[type="submit"] {
  font-family: "popins", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  max-width: 150px;
  padding: 15px 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #1dacd8;
}
footer {
  padding: 20px 0;
  background-color: #47484f;
}
footer .footer-title {
  font-family: "roboto", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
footer ul {
  padding: 0;
}
footer ul a {
  font-family: "popins", sans-serif;
  font-size: 16px;
  color: #fff;
  transition: 0.4s;
}
footer ul a img {
  margin: 0 12px;
  height: 24px;
  width: 24px;
  vertical-align: middle;
}
footer ul a:hover {
  color: #7cffff;
}
@media screen and (max-width: 990px) {
  .modal-bg .modal-content-wraper {
    width: 90%;
  }
  .head header .logo {
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .head {
    padding: 15px 10px;
    position: relative;
  }
  .head .head-title {
    font-size: 27px;
  }
  .head header .toggle-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 3px;
    background-color: transparent;
  }
  .head header .toggle-btn .btn-row {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 80%;
    background-color: #fff;
    transform-origin: center center;
    transition: transform, opacity, 0.4s;
  }
  .head header .toggle-btn .btn-row:first-child {
    top: 8px;
  }
  .head header .toggle-btn .btn-row:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .head header .toggle-btn .btn-row:nth-child(3) {
    bottom: 8px;
  }
  .head header .clicked .btn-row:nth-child(1) {
    transform: rotate(45deg);
    top: 16px;
    left: 5px;
  }
  .head header .clicked .btn-row:nth-child(2) {
    transform: translateX(200%);
    opacity: 0;
  }
  .head header .clicked .btn-row:nth-child(3) {
    transform: rotate(-45deg);
    left: 5px;
    bottom: 18px;
  }
  .head header .header-menu {
    position: absolute;
    left: 0;
    top: 50px;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.767);
    transition: transform, 0.4s;
  }
  .head header .header-menu .menu-item {
    min-width: 100%;
    text-align: center;
    transition: 0.4s;
  }
  .head header .header-menu .menu-item a {
    display: block;
    min-width: 100%;
  }
  .head header .header-menu .menu-item:hover {
    background-color: rgba(255, 255, 255, 0.371);
  }
  .head header .hide-menu {
    height: 0;
    width: 0;
    background-color: transparent;
    opacity: 0;
    transform: translate(-200%);
  }
  .gallery a {
    width: 50%;
  }
  .area .main-title,
  .area .main-desc {
    text-align: center;
  }
  .contact .main-title,
  .contact .main-desc {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .gallery a {
    width: 100%;
  }
}
