html {
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
ul {
	padding: 0;
}
li {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
}
// call btn
.call-btn {
	position: fixed;
	right: 10%;
	bottom: 30%;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: rgb(29, 172, 216);
	background-image: url(../img/phone.svg);
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 0;
	cursor: pointer;
	transition: 0.4s;
	.call-btn-form {
		position: absolute;
		bottom: -75%;
		left: -300%;
		max-width: 600px;
		padding: 20px 20px;
		border-radius: 5px;
		background-color: #fff;
		transform-origin: left bottom;
		opacity: 1;
		transform: scale(1);
		transition: transform 0.4s, opacity 0.2s;
		.close-form-btn {
			position: absolute;
			padding: 0px;
			top: 5px;
			right: 5px;
			height: 20px;
			width: 20px;
			border-radius: 50%;
			background-color: rgba(237, 57, 57, 0.844);
			font-family: sans-serif;
			font-size: 20px;
			font-weight: 800;
			color: #fff;
			cursor: pointer;
			overflow: hidden;
			&:after {
				position: absolute;
				content: "";
				top: 50%;
				left: 50%;
				height: 15px;
				width: 3px;
				background-color: #fff;
				transform-origin: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
			}
			&::before {
				position: absolute;
				content: "";
				top: 50%;
				left: 50%;
				height: 15px;
				width: 3px;
				background-color: #fff;
				transform-origin: 50%;
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}

		.btn-desc {
			font-family: "roboto", sans-serif;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 15px;
		}
		input[type="text"] {
			font-family: "roboto", sans-serif;
			font-size: 16px;
			border: 1px solid rgb(29, 172, 216);
			border-radius: 4px;
			color: rgba(60, 60, 60, 0.974);
			margin-bottom: 20px;
			outline: none;
		}
		input[type="submit"] {
			font-family: "popins", sans-serif;
			font-size: 14px;
			text-transform: uppercase;
			text-align: center;
			color: #fff;
			display: block;
			max-width: 150px;
			padding: 15px 20px;
			text-align: center;
			border: none;
			border-radius: 5px;
			background-color: rgb(29, 172, 216);
			transition: 0.4s;
			margin: 0 auto;
		}
	}
	&:hover {
		transform: scale(1.1);
	}
	&::after {
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 50px;
		width: 50px;
		border-radius: 50%;
		background-color: rgb(29, 172, 216);
		-webkit-animation: callBtn 1s infinite;
		animation: callBtn 1s infinite;
		z-index: -1;
	}
	.hide-form {
		opacity: 0;
		transform: scale(0);
	}
}

.hide-btn {
	bottom: -200%;
}

@-webkit-keyframes callBtn {
	0% {
		height: 0;
		width: 0;
		background-color: rgb(22, 123, 153);
	}
	100% {
		height: 100px;
		width: 100px;
		background-color: transparent;
	}
}

@keyframes callBtn {
	0% {
		height: 0;
		width: 0;
		background-color: rgb(22, 123, 153);
	}
	100% {
		height: 100px;
		width: 100px;
		background-color: transparent;
	}
}
//promo
.promo {
	position: fixed;
	left: 0;
	bottom: -100%;
	padding: 15px 20px;
	width: 100%;
	background-color: rgba(243, 122, 122, 0.844);
	transition: 0.4s;
	.promo-title {
		font-family: "roboto", sans-serif;
		font-size: 30px;
		text-transform: uppercase;
		color: #fff;
	}
	.promo-desc {
		font-family: "roboto", sans-serif;
		font-size: 16px;
		color: #fff;
	}
	.close-btn {
		position: absolute;
		padding: 10px;
		top: -20px;
		right: 10%;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		background-color: rgba(237, 57, 57, 0.844);
		font-family: sans-serif;
		font-size: 20px;
		font-weight: 800;
		color: #fff;
		cursor: pointer;
		&:after {
			position: absolute;
			content: "";
			top: 50%;
			left: 50%;
			height: 15px;
			width: 3px;
			background-color: #fff;
			transform-origin: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 50%;
			height: 15px;
			width: 3px;
			background-color: #fff;
			transform-origin: 50%;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}
.active {
	bottom: 0%;
}
// modal window
.modal-bg {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.604);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	z-index: 999;
	opacity: 1;
	overflow-y: scroll;
	transition-delay: background 0.2s;
	transition: height 0s, width 0s, background 0.2s;
	.modal-content-wraper {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		padding: 20px 30px;
		background-color: #fff;
		max-width: 960px;

		.questionnaire-title {
			font-family: "roboto", sans-serif;
			font-size: 18px;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 20px;
			color: rgb(43, 43, 43);
		}
		.questionnari-desc {
			font-family: "popins", sans-serif;
			font-size: 16px;
			line-height: 20px;
			color: rgb(43, 43, 43);
			text-align: center;
			margin-bottom: 30px;
		}
		.input-wraper {
			padding: 15px 0;
			input[type="text"] {
				padding: 10px 15px;
				border: 1px solid rgb(183, 173, 245);
				border-radius: 5px;
				width: 100%;
				outline: none;
				transition: 0.4s;
				margin-bottom: 30px;
				&:focus {
					border: 1px solid rgb(47, 116, 219);
					background-color: rgb(228, 232, 255);
				}
			}
		}

		input[type="radio"] {
			margin: 0 20px;
		}
		.form-desc,
		label {
			font-family: "roboto", sans-serif;
			font-size: 15px;
			font-weight: 500;
			text-transform: uppercase;
			color: rgb(65, 62, 62);
		}
		.select,
		.dependence {
			display: block;
			border: none;
			margin-bottom: 30px;
			.select-label {
				font-family: "Roboto", sans-serif;
				font-size: 15px;
				text-transform: uppercase;
				color: rgb(65, 62, 62);
			}
		}
		.order-btn {
			font-family: "roboto", sans-serif;
			font-size: 16px;
			text-transform: uppercase;
			text-align: center;
			color: #fff;
			width: 150px;
			padding: 20px 10px;
			text-align: center;
			border: none;
			border-radius: 3px;
			margin: 0 15px;
			transition: 0.4s;
			background: #00aa4a;
			display: block;
			margin: 0 auto;
			&:active {
				transform: scale(0.9);
			}
		}
	}
}
.hide {
	height: 0;
	width: 0;
	background-color: transparent;
	opacity: 0;
}
// common style
.main-title {
	font-family: "popins", sans-serif;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: rgb(43, 43, 43);
}
.main-desc {
	font-family: "roboto", sans-serif;
	font-size: 16px;
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
}
.btn-wraper {
	max-width: 320px;
	.btn {
		font-family: "roboto", sans-serif;
		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		width: 150px;
		padding: 20px 10px;
		text-align: center;
		border: none;
		border-radius: 3px;
		margin: 0 15px;
		transition: 0.4s;
		&:active {
			transform: scale(0.9);
		}
	}
	.order {
		background: #00aa4a;
		&:hover {
			background-color: #077436;
		}
	}
	.show {
		background-color: #aa7e04;
		&:hover {
			background-color: #ac8a2d;
		}
	}
}
.head {
	position: relative;
	background-image: url(../img/header-img.jpg);
	background-size: cover;
	background-position: center center;
	padding: 20px 0 120px;
	z-index: 0;
	overflow-x: hidden;
	&::after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.57);

		-webkit-backdrop-filter: blur(2px);
		backdrop-filter: blur(2px);
		z-index: -1;
	}

	header {
		width: 100%;
		margin-bottom: 120px;
		.toggle-btn {
			display: none;
		}
		.header-menu {
			max-width: 600px;
			.menu-item {
				padding: 20px 10px;
				a {
					position: relative;
					font-family: "roboto", sans-serif;
					font-size: 16px;
					text-transform: uppercase;
					color: #fff;
					transition: 0.4s;
					&:after {
						position: absolute;
						content: "";
						left: 0;
						bottom: -10px;
						width: 0;
						height: 2px;
						background-color: transparent;
						transition: 0.4s;
					}
					&:hover {
						color: #ffbd00;
						&:after {
							width: 100%;
							background-color: #ffbd00;
						}
					}
				}
			}
		}
	}

	.head-title {
		font-family: "Roboto", sans-serif;
		font-size: 43px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		margin-bottom: 30px;
	}
	.head-desc {
		font-family: "open-sans", sans-serif;
		font-size: 16px;
		text-align: center;
		color: #fff;
		max-width: 800px;
		margin: 0 auto 40px auto;
	}
}
.program {
	padding: 30px 0 60px;
	background-color: #fff0ee;
	.main-desc {
		margin-bottom: 30px;
	}
	.content-wraper {
		position: relative;
		padding: 120px 15px 30px;
		border-radius: 5px;
		transition: 0.4s;
		margin-bottom: 40px;
		background-size: 100% 100%;
		background-position: center;
		overflow: hidden;
		z-index: 0;
		height: 90%;

		&::before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.474);
			-webkit-backdrop-filter: blur(2px);
			backdrop-filter: blur(2px);
			z-index: -1;
		}
		&:hover {
			transform: scale(1.01);
			background-size: 110% 110%;
		}
		.content-title {
			font-family: "roboto", sans-serif;
			font-size: 18px;
			text-transform: uppercase;
			color: #fff;
		}
		.content-desc {
			font-family: "popins", sans-serif;
			font-size: 14px;
			line-height: 18px;
			color: aliceblue;
		}
	}
	.campaign {
		background-image: url(../img/pohid.jpg);
	}
	.teambuilding {
		background-image: url(../img/team.jpg);
	}
	.holly-party {
		background-image: url(../img/party.jpg);
	}
	.creative {
		background-image: url(../img/think.jpg);
	}
	.partys {
		background-image: url(../img/tematic-party.jpg);
	}
	.bamperball {
		background-image: url(../img/bamperbol.jpg);
	}
	.quest {
		background-image: url(../img/quest.jpg);
	}
	.cinema {
		background-image: url(../img/cinema.jpg);
	}
	.evening {
		background-image: url(../img/fire.jpg);
	}
}
.area {
	padding: 30px 0 80px;
	background-color: #f8fdfa;
	.main-title {
		text-align: left;
	}
	.main-desc {
		text-align: left;
	}
}
.dishes {
	padding: 30px 0 50px;
	background-color: #fff8e5;
}
.team {
	padding: 30px 0;
	background-color: #faf8fc;
	.main-title {
		text-align: center;
	}
	.main-desc {
		text-align: center;
		max-width: 550px;
		margin-bottom: 30px;
	}
	.owl-theme {
		padding: 20px 0px;
		.item {
			padding: 30px 15px;
			border: 1px solid rgb(214, 214, 214);
			border-radius: 8px;
			background-color: rgba(255, 255, 255, 0.624);
			box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
			.user-avatar {
				height: 100px;
				width: 100px;
				border-radius: 50%;
				-o-object-fit: cover;
				object-fit: cover;
				display: block;
				margin: 0 auto 30px auto;
			}
			.name {
				font-family: "robot", sans-serif;
				font-size: 16px;
				text-transform: uppercase;
				color: rgb(36, 36, 36);
				margin-bottom: 30px;
			}
			.age,
			.job {
				font-family: "roboto";
				font-size: 16px;
				font-weight: bold;
				color: rgb(36, 36, 36);
			}
			.age-num,
			.job-desc {
				font-weight: normal;
			}
		}
	}
}
.gallery {
	flex-wrap: wrap;
	a {
		display: block;
		width: 25%;
		img {
			width: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}
}
.races {
	padding: 30px 0;
	background-color: #dfecff;
	.races-list {
		flex-wrap: wrap;
	}
	.races-item {
		position: relative;
		border-radius: 5px;
		padding: 20px 15px;
		background-image: url(../img/header-img.jpg);
		background-size: cover;
		cursor: pointer;
		transition: 0.4s;
		margin: 30px 20px;
		z-index: 0;
		overflow: hidden;

		&:after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.604);
			-webkit-backdrop-filter: blur(2px);
			-moz-backdrop-filter: blur(2px);
			backdrop-filter: blur(2px);
			z-index: -1;
		}
		&:hover {
			transform: scale(1.1);
		}
	}
	.races-title {
		font-family: "roboto", sans-serif;
		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 20px;
	}
	.races-desc {
		font-family: "popins", sans-serif;
		font-size: 18px;
		color: #fff;
		max-width: 400px;
	}
	.races-duration,
	.races-time-desc {
		font-family: "roboto", sans-serif;
		font-size: 25px;
		color: #fff;
		.race-start,
		.races-end {
			font-weight: 900;
		}
	}
}
footer {
	padding: 20px 0;
	background-color: rgb(71, 72, 79);
	.footer-title {
		font-family: "roboto", sans-serif;
		font-size: 18px;
		text-transform: uppercase;
		color: #fff;
	}
	ul {
		padding: 0;
		a {
			font-family: "popins", sans-serif;
			font-size: 16px;
			color: #fff;
			transition: 0.4s;
			img {
				margin: 0 12px;
				height: 24px;
				width: 24px;
				vertical-align: middle;
			}
			&:hover {
				color: #7cffff;
			}
		}
	}
}
@media screen and (max-width: 990px) {
	.modal-bg {
		.modal-content-wraper {
			width: 90%;
		}
	}
	.head {
		header {
			.logo {
				margin-right: 20px;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.head {
		padding: 15px 10px;
		position: relative;
		.head-title {
			font-size: 27px;
		}
		header {
			.toggle-btn {
				position: absolute;
				right: 15px;
				top: 10px;
				display: block;
				width: 40px;
				height: 40px;
				border: 2px solid #fff;
				border-radius: 3px;
				background-color: transparent;

				.btn-row {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					height: 2px;
					width: 80%;
					background-color: #fff;
					transform-origin: center center;
					transition: transform, opacity, 0.4s;
					&:first-child {
						top: 8px;
					}
					&:nth-child(2) {
						top: 50%;
						transform: translate(-50%, -50%);
					}
					&:nth-child(3) {
						bottom: 8px;
					}
				}
			}
			.clicked {
				.btn-row {
					&:nth-child(1) {
						transform: rotate(45deg);
						top: 16px;
						left: 5px;
					}
					&:nth-child(2) {
						transform: translateX(200%);
						opacity: 0;
					}
					&:nth-child(3) {
						transform: rotate(-45deg);
						left: 5px;
						bottom: 18px;
					}
				}
			}
			.header-menu {
				position: absolute;
				left: 0;
				top: 50px;
				min-width: 100%;
				background-color: rgba(0, 0, 0, 0.767);
				transition: transform, 0.4s;
				.menu-item {
					min-width: 100%;
					text-align: center;
					transition: 0.4s;
					a {
						display: block;
						min-width: 100%;
					}
					&:hover {
						background-color: rgba(255, 255, 255, 0.371);
					}
				}
			}
			.hide-menu {
				height: 0;
				width: 0;
				background-color: transparent;
				opacity: 0;
				transform: translate(-200%);
			}
		}
	}
	.gallery {
		a {
			width: 50%;
		}
	}
	.area {
		.main-title,
		.main-desc {
			text-align: center;
		}
	}
}
@media screen and (max-width: 600px) {
	.gallery {
		a {
			width: 100%;
		}
	}
}
