// fonts
$proxymanova: "proximanova", sans-serif;
// colors
$white: #fff;
$black: #000;
$footerTextColor: #c9c9c9;
$searchBg: #323232;
$headBtnHover: #0b0b0b;
$sndBtnBg: #c7c7c7;
$sndBtnText: #010101;
$sndBtnHover: #b9b6b6;
$emColor: #9b9b9b;
