* {
  box-sizing: border-box;
}
img {
  height: auto;
  max-width: 100%;
}

.good-wraper {
  max-width: 300px;
  border-radius: 10px;
  margin: 0 auto;
  background: rgb(176, 193, 240) linear-gradient(#e66465, #9198e5);
  padding: 10px 20px;
  .good-desc {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-indent: 20px;
    text-align: justify;
  }
  .text-wraper {
    display: flex;
    justify-content: space-between;
    .price {
      font-family: sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
      }
    }
    .old {
      text-decoration: line-through;
    }
  }
}
