img {
  height: auto;
  max-width: 100%;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
body,
ul {
  margin: 0;
  padding: 0;
  transition: 0.4s;
}
.light {
  background-color: #ffffec;
}
.dark {
  background-color: #3d3e4e;
}
/* common-style */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hide {
  display: none;
}
.wait,
.err,
.suc {
  padding: 10px 20px;
  border-radius: 10px;
}
.main-title {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.main-sub-title {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.main-desc,
.data-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 30px;
}
.btn-connect {
  max-width: 250px;
  display: block;
  margin: 0 auto;
  padding: 15px 20px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
}
.set-range {
  display: block;
  width: 90%;
  margin-bottom: 30px;
}
.start-btn {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: block;
  max-width: 250px;
  margin: 20px auto;
  padding: 20px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
/* light mode checkbox */
.light-mode-checkbox {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 20px;
  border: 1px solid #0cb2ff;
  background-color: rgba(95, 139, 252, 0.486);
  border-radius: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.light-mode-checkbox::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  background-color: rgba(245, 255, 104, 0.509);
  border-radius: 50%;
  transition: 0.4s;
}
.light-mode-checkbox:checked::after {
  left: 60%;
  background-color: rgba(194, 255, 26, 0.36);
}
/* connection style */
.conection-setings .main-desc {
  text-align: center;
  line-height: 25px;
}
.block {
  max-width: 300px;
  padding: 20px 10px;
  border-radius: 5px;
  border: 1px solid #888888;
  margin-bottom: 50px;
  box-shadow: 5px 4px 39px 5px rgba(0, 0, 0, 0.43);
  transition: 0.4s;
}
.block:hover {
  transform: scale(1.01);
}
/* atack style */
.data-wraper {
  max-width: 100%;
  overflow: hidden;
}
.targets-list {
  overflow-x: scroll;
  margin-bottom: 50px;
}
.target-item {
  display: flex;
  min-width: 420px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.target-item:hover {
  transform: scale(1.02);
}
.target-item div {
  padding: 15px;
}
.target-item div:first-child {
  border-top-left-radius: 5px;
}
.target-item div:last-child {
  border-top-right-radius: 5px;
}
.data-link {
  width: 30%;
  text-align: left;
  text-overflow: ellipsis;
}
.data-sum {
  text-align: center;
  width: 30%;
}
.data-suc {
  text-align: center;
  width: 20%;
  border-radius: 0;
}
.data-err {
  text-align: center;
  width: 20%;
  border-radius: 0;
}
.unit {
  fill: none;
  stroke-width: 40;
  transition: 0.4s;
}
.static-block {
  width: 50%;
}
.light .err {
  background-color: #fe7171;
}
.light .wait {
  background-color: #bfbfbf;
}
.light .suc {
  background-color: #a1ffac;
}
.light .main-title,
.light .main-sub-title,
.light .main-desc,
.light .data-text,
.light .target-item div {
  color: #3d3e4e;
}
.light .target-item div {
  border: 1px solid #696a77;
}
.light .start-btn,
.light .btn-connect {
  background-color: #38be29;
  color: #e5e5e5;
}
.light .start-btn:hover,
.light .btn-connect:hover {
  background-color: #40de27;
}
.dark .main-title,
.dark .main-sub-title,
.dark .main-desc,
.dark .data-text {
  color: #57c277;
}
.dark .browser-msg .main-desc,
.dark .target-item div {
  color: #0d0d0e;
  border: 1px solid #696a77;
}
.dark .start-btn,
.dark .btn-connect {
  background-color: #38be29;
  color: #e5e5e5;
}
.dark .start-btn:hover,
.dark .btn-connect:hover {
  background-color: #40de27;
}
.partner-list {
  padding: 15px 20px;
}
.partner-item {
  list-style: none;
  margin-bottom: 20px;
}
.partner-item a {
  font-family: sans-serif;
  font-size: 18px;
  color: #5e6b74;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .data-link,
  .data-sum,
  .data-suc,
  .data-err {
    font-size: 13px;
  }
  .container {
    width: 100%;
  }
  .flex-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .flex-container .static-block {
    width: 100%;
  }
}
